
.sidenavbar {
  height: 100%;
  margin-top: 48px; /* Match MUI AppBar height */
  padding-top: 15px;
  width: 60px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#232323;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-content {
  margin-top: 20px;
  margin-left: 80px;
  margin-right: 20px;
  height: 90vh;
}

.vulRow {
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
}

.vulCard {
  margin: 5px;
}


/* Findings Summary Styles */
p.findingCount {
  font-weight: bold;
}
